table, th, td {
    border: 1px solid;
    margin: auto;
}

th, tfoot td {
    background-color: #EEFFFF;

    color: black;
}

.title {
    font-size: 150%;
}

.short_description {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}
